[install the Rocky release]
yum install centos-release-openstack-queens -y
yum upgrade -y
yum install python-openstackclient -y

Edit the /etc/nova/nova.conf

systemctl enable libvirtd.service openstack-nova-compute.service
systemctl start libvirtd.service openstack-nova-compute.service
. admin-openrc
openstack compute service list --service nova-compute
su -s /bin/sh -c "nova-manage cell_v2 discover_hosts --verbose" nova


[nova]
yum install openstack-nova-compute -y
